
html, body {
    margin: 0px;
    height: 100%;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.page-format {
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding: 2rem;
    height: 100%;
}

h1 {
    margin-bottom: 1rem;
}

.description {
    font-size: large;
    margin-top: 0;
    color: white;
}

input {
    border: none;
    margin: 0.5rem;
    height: 1.8rem;
    border-radius: 5px;
    width: 6cm;
}

label {
    font-size: larger;
    font-weight: 700;
}

.label-cashgiven{
    margin-top: 1rem;
}

#check-button, #next-button {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    background-color: white;
    width: 5rem;
    border: none;
    padding: 0.5rem;
    font-weight: 700;
    cursor: pointer;
}

#error-message {
    margin: 0rem;
    padding: 0rem;
    color: white;
    font-size: large;
}

caption {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
}

.show-table {
    border: none;
}

table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
    border-width: medium;
    margin-bottom: 2rem;
}

th, td{
    padding: 10px;
    text-align: center;
}



