
.page{
    display:flex;
    flex-direction: column;
    width: 50vm;
    align-items: center;
    background-color: gray;
    padding: 2rem;
}

.heading{
    margin-top: 0.5rem;
}

input {
    border: none;
    margin: 0.5rem;
    height: 1.5rem;
    border-radius: 5px;
}

label {
    font-size: larger;
    font-weight: 700;
}

#check-button{
    margin-top: 0.5rem;
    border-radius: 10px;
    background-color: white;
    width: 5rem;
    border: none;
    padding: 0.5rem;
    font-weight: 700;
    cursor: pointer;
}

caption {
    font-size: 1.5rem;
    margin: 1rem;
    font-weight: bold;
}

table, tr, th, td{
    border: 1px solid black;
    border-collapse: collapse;
    width: 500px;
}

th, td{
    padding: 10px;
    text-align: center;
}



